# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test

# production
/build

# API keys, passwords
/src/shared/config.js
/src/shared/config
/server/mysqlConfig.js
/server/googleMapConfig.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

OBLdb_logins.txt
db_logins.js
