.App {
  text-align: center;
  --oberlin-red: #cf102d;
}

.Sidepane-active {
  position: fixed;
  left: -3px;
}

.Sidepane-inactive {
  position: fixed;
  transform: translate(-110%, 0%);
}

button {
  cursor: pointer;
}

.Create-event-container-active {
  position: fixed;
  left: 50px;
}

.Create-event-container-inactive {
  position: fixed;
  transform: translate(0%, -300%);
  left: 50px;
  cursor: pointer;
}

@keyframes marker-blink {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.react-select-container {
  position: fixed !important;
  display: inline-block;
  top: 43px;
  right: 10px;
  z-index: 2;
  width: 130px;
  flex-direction: row;
}